
.button button {
    margin-top: 1.6em;
    background-color: #535bf2;
    border: 1px solid transparent;
    color: #fff;
    padding: 0.8em 1.6em;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.25s;
    
  }
  
  .button button:hover {
    background-color: #646cff;
    
  
  }